<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="643450610701-hjgr6n0u38gftd7ppslm45j1p7hvkrfv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
    <style>
        *{
           margin: 0%;
           padding: 0%;
           box-sizing: border-box;
        }
        .login{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="login">
    <div class="g-signin2" data-onsuccess="onSignIn" style="border: none; outline:none;"></div>
</div>
    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

    <script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/profile')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
      }
    </script>
    
</body>
</html>